# Copia esto en las variables de entorno de Railway
# NO subas este archivo a GitHub

DB_HOST=tu_host_de_railway_mysql
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=veranza
DB_PORT=3306

JWT_SECRET=veranza_jwt_super_secreto_2024_cambiame

FRONTEND_URL=https://tu-sitio.netlify.app

PORT=4000
